.task-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */

    letter-spacing: 0.01em;

    color: #262524;
}

.task-description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */

    letter-spacing: 0.01em;

    color: #262524;

    opacity: 0.5;
}

@media screen and (max-width: 768px) {
    .progress-header {
        width: 327px;
        height: 78px;
        margin-top: 120px;
        font-family: 'Sporting Grotesque';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 140%;
        /* or 39px */

        letter-spacing: 0.01em;

        color: #262524;

    }
}