.user-card {
    width: 679px;
    height: 323px;
    background: #FFFFFF;
    box-shadow: 0px 20px 80px rgba(51, 78, 123, 0.1);
    border-radius: 10px;
}

.user-card:hover {
    background: #FFFFFF;
    box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.253);
    border-radius: 10px;
    cursor: pointer;
}

.t-text {
    width: 460px;
    height: 112px;
    left: 178px;
    top: 4073px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #262524;
    opacity: 0.5;
}

@media screen and (max-width: 768px) {
    .user-card {
        width: 327px;
        height: 184px;
        left: 24px;
        top: 5303px;

        background: #FFFFFF;
        box-shadow: 0px 10.2303px 40.9211px rgba(51, 78, 123, 0.1);
        border-radius: 8px;
    }

    .t-text {
        width: 268px;
        height: 76px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 160%;
        /* or 19px */

        letter-spacing: 0.01em;

        color: #262524;

        opacity: 0.5;
    }

    .user-details {
        width: 215px;
        height: 36px;
    }
    .task-title{
        font-size: 14px;
    }
}