.footer-logo {
    /* position: absolute; */
    width: 67px;
    height: 38px;
    left: 95px;
    top: 48px;
    color: #6765F0;
    background: #ffffff;
    box-shadow: 0px 20px 80px rgba(51, 78, 123, 0.3);
    border-radius: 10px;
    text-align: center;
}

.logo-text {
    /* position: absolute; */


    font-family: 'Sporting Grotesque';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;
    text-align: center;
}

.text {
    width: 69px;
    height: 33px;
    left: 167px;
    top: 51px;

    font-family: 'Sporting Grotesque';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #6765F0;
}

.footer-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */


    color: #FFFFFF;

    opacity: 0.6;
}

.footer-title {
    height: 32px;
    left: 682px;
    top: 4595px;
    color: #FFFFFF;
    font-family: 'Sporting Grotesque';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    /* identical to box height, or 178% */

}